/* <div> Icons made by <a href="https://www.flaticon.com/authors/gofox" title="GOFOX"> GOFOX </a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com'</a></div> */

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  display: flex;
  width: 100%;
  height: calc(100vh - 100px);
}

.container .left {
  width: 50%;
  padding: 10px 100px 0 100px;
}

.left .navbar {
  display: flex;
  position: relative;
  height: 70px;
}

.left .navbar .navMenu {
  display: flex;
  list-style-type: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 150px;
  gap: 50px;
}

.left .navbar .navMenu li a.active {
  color: #0058ff;
}

.left .navbar .navMenu li a {
  font-weight: 400;
  color: #6b7280;
  font-size: 1.2rem;
  text-decoration: none;
}

.left .body-parent {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -100px;
}

.left .body-parent .title,
.left .body-parent .text-body {
  margin-bottom: 30px;
}

.left .body-parent .title span:first-child {
  font-weight: 800;
  font-size: 80px;
  margin-bottom: 0;
  padding: 0;
  line-height: 80px;
}

.left .body-parent .title span:last-child {
  font-weight: 800;
  font-size: 80px;
  color: #0058ff;
  margin-top: -30px;
  margin-bottom: 0;
  padding: 0;
  line-height: 80px;
}

.left .body-parent .text-body p {
  color: #6b7280;
  font-size: 1.2rem;
}

.left .body-parent .button-parent button:first-child {
  background-color: #0058ff;
  border: none;
  color: white;
  padding: 24px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 800;
}

.left .body-parent .button-parent button:last-child {
  background-color: #e5edff;
  border: none;
  color: #0058ff;
  padding: 24px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 800;
}

.left .navbar .hamburger {
  display: none;
  cursor: pointer;
}

.left .navbar .hamburger .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #6b7280;
}

.container .right {
  background-position: 45% 40%;
  background-image: url('./assets/photo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  clip-path: polygon(15% 0, 100% 0%, 100% 84%, 2% 84%);
}

/* media query */
@media only screen and (max-width: 320px) {
  .left .body-parent {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .container .left {
    width: 100%;
    padding: 10px;
  }

  .left .navbar .hamburger {
    display: block;
  }

  .left .navbar .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .left .navbar .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .left .navbar .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .container .left .navbar {
    display: flex;
    justify-content: space-between;
    height: 50px;
  }

  .container .left .navbar .navMenu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #e5edff;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .container .left .navbar .navMenu li {
    margin: 10px 0;
  }

  .container .left .navbar .navMenu li a {
    color: #6b7280;
    display: block;
  }

  .container .left .navbar .navMenu li a.active {
    color: #0058ff;
  }

  .container .left .navbar .navMenu.active {
    left: 0;
  }

  .container .right,
  .navbar ul li a {
    display: none;
  }

  .left .body-parent .title span:first-child {
    font-size: 40px;
    line-height: 40px;
  }

  .left .body-parent .title span:last-child {
    font-size: 40px;
    line-height: 40px;
  }

  .left .body-parent .text-body p {
    font-size: 1rem;
  }

  .left .body-parent .button-parent button:first-child {
    padding: 16px 24px;
    font-size: 1rem;
  }

  .left .body-parent .button-parent button:last-child {
    padding: 16px 24px;
    font-size: 1rem;
  }
}

@media only screen and (min-width: 600px) and (max-width: 767px) {
  .container .left {
    width: 100%;
    padding: 10px;
  }

  .left .navbar .hamburger {
    display: block;
  }

  .left .navbar .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .left .navbar .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .left .navbar .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .container .left .navbar {
    display: flex;
    justify-content: space-between;
    height: 50px;
  }

  .container .left .navbar .navMenu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #e5edff;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .container .left .navbar .navMenu li {
    margin: 10px 0;
  }

  .container .left .navbar .navMenu li a {
    color: #6b7280;
    display: block;
  }

  .container .left .navbar .navMenu li a.active {
    color: #0058ff;
  }

  .container .left .navbar .navMenu.active {
    left: 0;
  }

  .container .right,
  .navbar ul li a {
    display: none;
  }

  .left .body-parent {
    margin-top: 0;
  }

  .left .body-parent .title span:first-child {
    font-size: 40px;
    line-height: 40px;
  }

  .left .body-parent .title span:last-child {
    font-size: 40px;
    line-height: 40px;
  }

  .left .body-parent .text-body p {
    font-size: 1rem;
  }

  .left .body-parent .button-parent button:first-child {
    padding: 16px 24px;
    font-size: 1rem;
  }

  .left .body-parent .button-parent button:last-child {
    padding: 16px 24px;
    font-size: 1rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .container .left {
    width: 50%;
    padding: 20px;
  }

  .left .navbar .hamburger {
    display: none;
  }

  .left .navbar .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .left .navbar .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .left .navbar .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .container .left .navbar {
    display: flex;
    justify-content: space-between;
    height: 50px;
  }

  .container .left .navbar .navMenu li {
    margin: 10px 0;
  }

  .container .left .navbar .navMenu li a {
    color: #6b7280;
    display: block;
  }

  .container .left .navbar .navMenu li a.active {
    color: #0058ff;
  }

  .container .right,
  .navbar ul li a {
    display: none;
  }

  .left .body-parent {
    margin-top: -30px;
  }

  .left .body-parent .title span:first-child {
    font-size: 40px;
    line-height: 40px;
  }

  .left .body-parent .title span:last-child {
    font-size: 40px;
    line-height: 40px;
  }

  .left .body-parent .text-body p {
    font-size: 1rem;
  }

  .left .body-parent .button-parent button:first-child {
    padding: 16px 24px;
    font-size: 1rem;
  }

  .left .body-parent .button-parent button:last-child {
    padding: 16px 24px;
    font-size: 1rem;
  }

  .container .right {
    width: 50%;
    display: block;
  }
}

@media only screen and (min-width: 992px) {
  .container .left {
    width: 50%;
    padding: 10px 100px 0 100px;
  }

  .left .navbar .hamburger {
    display: none;
  }

  .left .navbar .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .left .navbar .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .left .navbar .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .container .left .navbar {
    display: flex;
    justify-content: space-between;
    height: 50px;
  }

  .container .left .navbar .navMenu li {
    margin: 10px 0;
  }

  .container .left .navbar .navMenu li a {
    color: #6b7280;
    display: block;
  }

  .container .left .navbar .navMenu li a.active {
    color: #0058ff;
  }

  .container .right,
  .navbar ul li a {
    display: none;
  }

  .left .body-parent {
    margin-top: -30px;
  }

  .left .body-parent .title span:first-child {
    font-size: 60px;
    line-height: 60px;
  }

  .left .body-parent .title span:last-child {
    font-size: 60px;
    line-height: 60px;
  }

  .left .body-parent .text-body p {
    font-size: 1rem;
  }

  .left .body-parent .button-parent button:first-child {
    padding: 16px 16px;
    font-size: 1rem;
  }

  .left .body-parent .button-parent button:last-child {
    padding: 16px 16px;
    font-size: 1rem;
  }

  .container .right {
    width: 50%;
    display: block;
  }
}
